/* src/components/WarehousePage.css */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars from appearing on the root */
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #f9f9f9;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.warehouse-card {
  max-width: 800px;
  width: 100%;
  margin: 1rem 0;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: #fff;
  animation: fadeIn 0.5s ease-in-out;
}

.warehouse-title {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  animation: slideIn 0.5s ease-in-out;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.MuiFormControl-root {
  min-width: 250px;
  width: 80%;
  margin-bottom: 1rem;
}

.MuiTextField-root {
  width: 100%;
}

.MuiTextField-root input,
.MuiTextField-root textarea {
  height: 3rem;  /* Increase the height for single-line inputs */
  padding: 0.5rem;  /* Adjust padding for better spacing */
  box-sizing: border-box;
}

.MuiButton-containedPrimary {
  background-color: #1976d2;
  width: 80%;
}

.MuiButton-containedPrimary:hover {
  background-color: #155a9c;
}
