.home-container {
    width: 100%;
    min-height: 100vh;
    background: url('https://png.pngtree.com/background/20240112/original/pngtree-nighttime-3d-rendering-of-container-ship-moving-through-city-picture-image_7235170.jpg') no-repeat center center fixed;
    background-size: cover;
    color: rgb(28, 22, 22);
  }
  
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .hero-section h1 {
    font-size: 48px;
    margin: 0;
  }
  .content-section {
    background-color: rgba(15, 12, 12, 0.9);
    color: rgb(252, 247, 247);
    padding: 40px 20px;
  }
  
  .history-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
  }
  
  .history-content {
    flex: 1;
    min-width: 300px;
  }
  
  .history-content h2 {
    color: #f0f5ef;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .history-content p {
    color: #777;
    margin-bottom: 20px;
  }
  
  .history-image {
    flex:0.5;
    min-width: 200px;
  }
  
  .history-image img {
    width: 100%;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .service-item {
      width: calc(50% - 20px);
    }
  
    .history-container {
      flex-direction: column;
    }
  }
  
  @media (max-width: 480px) {
    .service-item {
      width: 100%;
    }
  }
  .how-it-works-container {
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    color: white;
    text-align: center;
  }
  
  .how-it-works-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 10px;
  }
  
  .how-it-works-content h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .steps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .step {
    max-width: 30%;
    margin-bottom: 20px;
  }
  
  .step-icon {
    background-color: #000a03;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 24px;
    margin: 0 auto 20px;
  }
  
  .step h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .step p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .step ul {
    list-style: none;
    padding: 0;
    text-align: left;
  }
  
  .step ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .step ul li svg {
    color: #16ef07;
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    .step {
      max-width: 45%;
    }
  }
  
  @media (max-width: 480px) {
    .step {
      max-width: 100%;
    }
  }  

  .our-team-container {
    padding: 50px 20px;
    text-align: center;
    background-color: rgb(3, 3, 3);
  }
  
  .our-team-container h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #eef0ee;
  }
  
  .team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .team-member {
    max-width: 30%;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .team-member img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .team-member h3 {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .team-member h4 {
    font-size: 16px;
    color: rgb(251, 246, 246);
    margin-bottom: 15px;
  }
  
  .team-member p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .team-member p {
    font-size: 14px;
    margin-bottom: 20px;
    color: rgb(236, 227, 227); 
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons svg {
    margin: 0 10px;
    color: #0fdc13;
    cursor: pointer;
  }
  
  .social-icons svg:hover {
    color: #333;
  }
  
  @media (max-width: 768px) {
    .team-member {
      max-width: 45%;
    }
  }
  
  @media (max-width: 480px) {
    .team-member {
      max-width: 100%;
    }
  }

  .play-video-button {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .play-icon-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff4500; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(92, 161, 26, 0.1);
  }
  
  .play-icon {
    width: 0;
    height: 0;
    border-left: 12px solid #000; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  
  .play-text {
    font-size: 18px;
    color: #000;
    margin-left: 10px;
  }
  
  