.footer {
    background-color: #333;
    color: #bbb;
    padding: 50px 0;
    text-align: left;
  }
  
  .footer-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-column {
    margin: 20px;
  }
  
  .footer-column h4 {
    color: #fff;
    margin-bottom: 15px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    color: #bbb;
    text-decoration: none;
  }
  
  .footer-column ul li a:hover {
    color: #fff;
  }
  
  .footer-socials {
    display: flex;
    justify-content: space-between; 
    width: 150px; 
  }
  
  .footer-socials a {
    margin-bottom: 10px;
    color: #bbb;
    text-decoration: none;
    
  }
  
  .footer-socials a:hover {
    color: #fff;
  }
  
  .footer-form {
    display: flex;
  }
  
  .footer-form input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 70%;
  }
  
  .footer-form button {
    padding: 10px;
    background-color: #fcb900;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
    color: #fff;
  }
  
  .footer-form button:hover {
    background-color: #e0a800;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #444;
    padding-top: 20px;
  }
  
  @media (max-width: 768px) {
    .footer-columns {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-column {
      width: 80%;
      margin-bottom:30px;
    }
  }
  