body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow-x: hidden;
}

.home-container {
  width: 100%;
  min-height: 100vh;
  background: url('https://png.pngtree.com/background/20240112/original/pngtree-nighttime-3d-rendering-of-container-ship-moving-through-city-picture-image_7235170.jpg') no-repeat center center fixed;
  background-size: cover;
  color: rgb(12, 9, 9);
  position: relative;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.hero-section h1 {
  font-size: 48px;
  margin: 0;
}

.cta-button {
  background-color: #f7fbf6;
  border: none;
  padding: 15px 30px;
  color: rgb(14, 8, 8);
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #05f468;
}

.content-section {
  background-color: rgba(12, 7, 7, 0.9);
  color: rgb(205, 113, 113);
  padding: 50px 20px;
}

.history-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.history-content {
  flex: 1;
  min-width: 300px;
}

.history-content h2 {
  color: #13d716;
  font-size: 24px;
  margin-bottom: 20px;
}

.history-content p {
  color: #f9f3f3;
  margin-bottom: 20px;
}

.history-image {
  flex:0.5;
  min-width: 200px;
}

.history-image img {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .service-item {
    width: calc(50% - 20px);
  }

  .history-container {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .service-item {
    width: 100%;
  }
}
.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  padding: 50px 0;
}

.quote-item {
  background-color: #050707;
  color: rgb(247, 245, 245);
  padding: 20px;
  width: 30%;
  text-align: center;
  margin: 0 10px;
  border-radius: 10px;
}

.quote-item .quote-icon {
  font-size: 40px;
  margin-bottom: 10px;
  color: green;
}

.quote-form {
  background-color: #050606;
  color: rgb(248, 241, 241);
  padding: 20px;
  width: 30%;
  text-align: center;
  margin: 0 10px;
  border-radius: 10px;
}

.quote-form h3 {
  margin-bottom: 20px;
}

.quote-form form {
  display: flex;
  flex-direction: column;
}

.quote-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.quote-form button {
  background-color: #129219;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.quote-form button:hover {
  background-color: #569b44;
}

@media (max-width: 768px) {
  .quote-section {
    flex-direction: column;
  }

  .quote-item, .quote-form {
    width: 80%;
    margin-bottom: 20px;
  }
}
.services-section {
  text-align: center;
  padding: 50px 20px;
  background-color: rgb(21, 26, 30);
}

.services-section h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #f2f6f3;
}

.services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.service-item {
  background-size: cover;
  background-position: center;
  width: calc(25% - 20px);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.service-item:hover {
  transform: translateY(-10px);
}

.service-content {
  background-color: rgba(0, 0, 0, 0.2);
  color:rgb(244, 239, 239);
  padding: 10px;
  text-align: center;
  width: 100%;
  border-radius: 0 0 10px 10px;
}
.more-services-section {
  padding: 50px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(250, 244, 244);
  text-align: center;
}

.more-services-section h2 {
  margin-bottom: 30px;
  color:#e50a0a;
  font-size: 30px;
}

.more-services-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.more-service-item {
  width: 45%;
  margin-bottom: 20px;
  background-color: rgba(15, 12, 12, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.more-service-item h3 {
  margin: 10px 0;
}

.more-service-item p {
  margin-bottom: 10px;
}

.more-service-item a {
  color: #2a8365;
  text-decoration: none;
}
.learn-more {
  color: #1623af;
  text-decoration: none;
  font-weight: bold;
}

.learn-more:hover {
  text-decoration: underline;
}
